## Importing the dataset with all neccessary library for the Zepto EDA

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV
df = pd.read_csv(r'E:\4_Sql\zepto\Dataset\zepto_v2.csv', encoding='latin1', low_memory=False)

# Connect to PostgreSQL
engine = create_engine("postgresql://postgres:Sqa3vs1c@localhost:5432/zepto")

# # Write to a new table (e.g., zepto_data)
# df.to_sql('zepto_data', engine, if_exists='replace', index=False)

print("✅ CSV Successfully Imported to PostgreSQL Table: zepto_data")

✅ CSV Successfully Imported to PostgreSQL Table: zepto_data

### count number of records

In [3]:
count_of_record=pd.read_sql('select count(*) from zepto_data',engine)
count_of_record

   count
0   3731

### Sample Data

In [4]:
sample_data=pd.read_sql('select * from zepto_data limit 10',engine)
sample_data

,category,name,mrp,discount_percent,available_quantity,discounted_selling_price,weight_in_gms,out_of_stock,quantity
0,Cooking Essentials,Quaker Oats,199,7,6,184,1000,False,1
1,Cooking Essentials,Madhur Sugar,60,6,0,56,1000,True,1
2,Munchies,Quaker Oats,199,7,6,184,1000,False,1
3,Paan Corner,Johnson's Baby Soap,70,0,6,70,100,False,100
4,Home & Cleaning,Pril Bar Tub,55,0,1,55,500,False,500
5,Home & Cleaning,Origami Good Karma Paper Serviettes,80,10,6,72,50,False,50
6,Home & Cleaning,Scotch Magic Tape,115,14,6,98,58,False,1
7,Fruits & Vegetables,Onion,25,16,3,21,1000,False,1
8,Fruits & Vegetables,Tomato Hybrid,42,16,3,35,1000,False,1
9,Fruits & Vegetables,Tender Coconut,51,15,3,43,58,False,1

### Columns

In [5]:
columns=pd.read_sql(
    """SELECT column_name
FROM information_schema.columns
WHERE table_name = 'zepto_data';
    """,engine
)
columns

                column_name
0                  quantity
1             weight_in_gms
2              out_of_stock
3                       mrp
4          discount_percent
5        available_quantity
6  discounted_selling_price
7                      name
8                  category

### Check for null values

In [6]:
df.isnull().sum()

Category                  0
name                      0
mrp                       0
discountPercent           0
availableQuantity         0
discountedSellingPrice    0
weightInGms               0
outOfStock                0
quantity                  0
dtype: int64

### Distinct category

In [7]:
distinct_category=pd.read_sql('select distinct category from zepto_data',engine)
distinct_category

                 category
0    Ice Cream & Desserts
1    Chocolates & Candies
2           Packaged Food
3             Paan Corner
4        Health & Hygiene
5      Cooking Essentials
6                Biscuits
7     Fruits & Vegetables
8                Munchies
9   Dairy, Bread & Batter
10        Home & Cleaning
11          Personal Care
12     Meats, Fish & Eggs
13              Beverages

### Product in stock

In [8]:
stock_count=pd.read_sql(
    """select out_of_stock,
       COUNT(mrp) as count
from zepto_data
group by out_of_stock
    """,engine
)
stock_count

   out_of_stock  count
0         False   3278
1          True    453

### Product with highest MRP

In [23]:
max_mrp_product=pd.read_sql(
    """
    select z.name ,z.mrp
from zepto_data as z
where mrp=(select max(mrp) from zepto_data)
group by z.name,z.mrp
    """,engine
)
max_mrp_product

                                   name   mrp
0  Borges Extra Light Olive Oil Bottle   2600

### Product with lowest MRP

In [25]:
Lowest_mrp_product=pd.read_sql(
    """select distinct z.name ,z.mrp
from zepto_data as z
where mrp=(select min(mrp) from zepto_data)
group by z.name,z.mrp
    """,engine
)
Lowest_mrp_product

                                              name  mrp
0             Britannia 50-50 Maska Chaska Biscuit   10
1                Britannia Good Day Cashew Cookies   10
2   Britannia Roll Yo! Choco Swiss Roll (With Egg)   10
3         Britannia Roll Yo! Strawberry Swiss Roll   10
4                    Ching's Chicken Chilli Masala   10
5           Ching's Chow Mein Hakka Noodles Masala   10
6       Ching's Secret Chicken 65 Masala - Chicken   10
7              Ching's Secret Manchow Instant Soup   10
8              Ching's Secret Mix Veg Instant Soup   10
9              Ching's Secret Paneer Chilli Masala   10
10              Ching's Secret Tomato Instant Soup   10
11                   Ching's Veg Manchurian Masala   10
12                Chings Instant Soup - Hot & Sour   10
13            Chings Instant Soup - Sweet Corn Veg   10
14        Godrej Nupur  100% Pure Henna (Mehendi)   10
15                         Good Day Butter Cookies   10
16                               Rin Detergent Bar   10
17    Sunfeast Mom's Magic Cashew & Almond Biscuit   10

### Product with stock quantity more 1

In [9]:
stock_quantity=pd.read_sql(
    """
    select 
    name as Name,
    count(mrp) as number_of_SKUs
from zepto_data
group by name
having count(mrp)>1
order by count(mrp) desc
    """,engine
)
stock_quantity

                                                 name  number_of_skus
0     Sunfeast Yippee! Pasta Treat - Sour Cream Onion              10
1                                    Arden Eggs White              10
2        Amul Delicious Fat Spread - Cholesterol Free              10
3                      Mother's Recipe Tamarind Paste              10
4                                         Quaker Oats              10
...                                               ...             ...
1209                      Dhara Groundnut Oil (Pouch)               2
1210                  The Bake Shop Whole Wheat Bread               2
1211                         Amul Frozen Malai Paneer               2
1212                             Keya Pizza Seasoning               2
1213                  Popular Essentials Black Pepper               2

[1214 rows x 2 columns]

### Find the top 10 best-value products based on the discount percentage.

In [10]:
top_discounted_products=pd.read_sql(
    """

SELECT distinct name as Name,mrp,discount_percent as Discount_percent 
FROM zepto_data
ORDER BY discount_percent DESC
LIMIT 10;
    """,engine
)
top_discounted_products

                                                name  mrp  discount_percent
0                       Dukes Waffy Chocolate Wafers   45                51
1                      Dukes Waffy Strawberry Wafers   45                51
2                          Dukes Waffy Orange Wafers   45                51
3                        RRO Mozzarella Pizza Cheese  275                50
4                                 RRO Burrata Cheese  250                50
5                   Epigamia Fruit Yogurt Strawberry   40                50
6                        RRO Mozzarella Block Cheese  295                50
7  Moi Soi  Black Bean Sauce - Dip Spread Stir Fr...  280                50
8              Chef's Basket Durum Wheat Penne Pasta  160                50
9                           RRO Cheddar Block Cheese  295                50

### What are the products with high MRP but are out of stock?

In [11]:
top_out_of_stock_high_mrp=pd.read_sql(
    """select distinct name as Name ,mrp as MRP
from zepto_data
where out_of_stock=true and mrp>300
ORDER BY MRP DESC
    """,engine
)
top_out_of_stock_high_mrp

                                                name  mrp
0                               Patanjali Cow's Ghee  565
1  MamyPoko Pants Standard Diapers, Extra Large (...  399
2                    Aashirvaad Atta With Mutigrains  315
3                 Everest Kashmiri Lal Chilli Powder  310

### Calculate the estimated revenue for each category.

In [12]:
estimated_revenue_by_category=pd.read_sql(
    """
    select distinct category,
sum(available_quantity*discounted_selling_price) as total_revenue
from zepto_data
group by category
order by total_revenue desc

    """,engine
)
estimated_revenue_by_category

                 category  total_revenue
0      Cooking Essentials       337369.0
1                Munchies       337369.0
2             Paan Corner       270849.0
3           Personal Care       270849.0
4    Chocolates & Candies       224385.0
5    Ice Cream & Desserts       224385.0
6           Packaged Food       224385.0
7         Home & Cleaning       122661.0
8        Health & Hygiene        64180.0
9               Beverages        55051.0
10  Dairy, Bread & Batter        55051.0
11               Biscuits        25019.0
12     Meats, Fish & Eggs        20693.0
13    Fruits & Vegetables        10846.0

### Finding all products where MRP is greater than ₹500 and the discount is less than 10%

In [13]:
filtered_products=pd.read_sql(
    """select category , name as Name ,mrp as MRP , discount_percent
from zepto_data
where MRP>500 and discount_percent>10
    """,engine
)
filtered_products

,category,name,mrp,discount_percent
0,Cooking Essentials,Dhara Health Refined Sun Flower Oil Jar,1200,18
1,Cooking Essentials,Fortune Rozana Basmati Rice,585,21
2,Cooking Essentials,Popular Essentials Californian Almond,695,32
3,Cooking Essentials,Delight Nuts Dried Blueberries,540,20
4,Cooking Essentials,Borges Extra Light Olive Oil Bottle,2600,46
5,Munchies,Dhara Health Refined Sun Flower Oil Jar,1200,18
6,Munchies,Fortune Rozana Basmati Rice,585,21
7,Munchies,Popular Essentials Californian Almond,695,32
8,Munchies,Delight Nuts Dried Blueberries,540,20
9,Munchies,Borges Extra Light Olive Oil Bottle,2600,46
10,Packaged Food,Kelloggs Chocos - Moons & Stars,660,40
11,Ice Cream & Desserts,Kelloggs Chocos - Moons & Stars,660,40
12,Chocolates & Candies,Kelloggs Chocos - Moons & Stars,660,40
13,Personal Care,Pampers Premium Care Pants - Large,1099,18
14,Personal Care,Pampers Premium Care Pants - Medium,1099,18
15,Personal Care,Pampers Pants - Large,1549,45
16,Personal Care,Pampers Pants - Medium,699,21
17,Personal Care,Pampers Active Baby Diapers New Born Extra Small,1099,22
18,Personal Care,Mamaearth Skin Correct Face Serum,599,15
19,Personal Care,Pampers All Round Protection Pants - Medium,699,17
20,Paan Corner,Pampers Premium Care Pants - Large,1099,18
21,Paan Corner,Pampers Premium Care Pants - Medium,1099,18
22,Paan Corner,Pampers Pants - Large,1549,45
23,Paan Corner,Pampers Pants - Medium,699,21
24,Paan Corner,Pampers Active Baby Diapers New Born Extra Small,1099,22
25,Paan Corner,Mamaearth Skin Correct Face Serum,599,15
26,Paan Corner,Pampers All Round Protection Pants - Medium,699,17
27,Home & Cleaning,Ariel Matic Front Load Detergent Washing Powder,800,15
28,Home & Cleaning,Scotch Brite Multi-Purpose Sponge Wipes,700,17

###  Identify the top 5 categories offering the highest average discount percentage.

In [14]:
top_discount_categories=pd.read_sql(
    """select category,
round(avg(discount_percent),2) as avg_discount_percentage
from zepto_data
group by category
order by avg_discount_percentage desc
    """,engine
)
top_discount_categories

                 category  avg_discount_percentage
0     Fruits & Vegetables                    15.46
1      Meats, Fish & Eggs                    11.03
2           Packaged Food                     8.32
3    Ice Cream & Desserts                     8.32
4    Chocolates & Candies                     8.32
5                Biscuits                     8.24
6        Health & Hygiene                     8.05
7   Dairy, Bread & Batter                     7.16
8               Beverages                     7.16
9                Munchies                     7.16
10     Cooking Essentials                     7.16
11          Personal Care                     6.25
12            Paan Corner                     6.25
13        Home & Cleaning                     5.70

### Find the price per gram for products above 100g and sort by best value.

In [15]:
price_per_gram_df=pd.read_sql(
    """
select distinct name, weight_in_gms ,discounted_selling_price,
round(discounted_selling_price/weight_in_gms,2) as price_per_gram
from zepto_data
where weight_in_gms>=100
order by price_per_gram desc 
    """,engine
)
price_per_gram_df

,name,weight_in_gms,discounted_selling_price,price_per_gram
0,"L'Oreal Paris Excellence Creme Hair Color, 4 N...",172,620,3.0
1,"L'Oreal Paris Excellence Creme Hair Color, 4.2...",172,620,3.0
2,Indulekha Bhringa Hair Oil,100,367,3.0
3,"L'Oreal Paris Excellence Creme Hair Color, 3.1...",159,550,3.0
4,"L'Oreal Paris Excellence Creme Hair Color, 1 B...",172,620,3.0
...,...,...,...,...
1390,Veeba English Mustard,300,69,0.0
1391,Go Cheese Processed Block,400,237,0.0
1392,Tata Sampann Moong Dal Split,1000,178,0.0
1393,McCain Super Wedges,400,111,0.0
1394,Mother Dairy Toned Milk Pouch,500,25,0.0

### Group the products into categories like Low, Medium, Bulk based on weight.

In [19]:
weight_groups=pd.read_sql(
    """SELECT name, weight_in_gms,
  CASE
    WHEN weight_in_gms <= 250 THEN 'Low'
    WHEN weight_in_gms <= 1000 THEN 'Medium'
    ELSE 'Bulk'
  END AS weight_category
FROM zepto_data;
    """,engine
)
weight_groups

,name,weight_in_gms,weight_category
0,Quaker Oats,1000,Medium
1,Madhur Sugar,1000,Medium
2,Quaker Oats,1000,Medium
3,Johnson's Baby Soap,100,Low
4,Pril Bar Tub,500,Medium
...,...,...,...
3726,Stayfree Secure Dry Cover Extra Large Sanitary...,406,Medium
3727,Dabur Honitus Herbal Cough Remedy Ayurvedic Syrup,100,Low
3728,Whisper Bindazzz Night Sanitary Pads XL Plus,870,Medium
3729,Fine Life Cotton Balls,50,Low
3730,Dettol Antiseptic Liquid,60,Low

### What is the total inventory weight per category?

In [21]:
inventory_weight=pd.read_sql(
    """SELECT category, 
       SUM(weight_in_gms * available_quantity) AS total_inventory_weight
FROM zepto_data
GROUP BY category
ORDER BY total_inventory_weight DESC;
    """,engine
)
inventory_weight

                 category  total_inventory_weight
0      Cooking Essentials               1404654.0
1                Munchies               1404654.0
2           Packaged Food                490797.0
3    Ice Cream & Desserts                490797.0
4    Chocolates & Candies                490797.0
5         Home & Cleaning                373161.0
6             Paan Corner                348187.0
7           Personal Care                348187.0
8               Beverages                143735.0
9   Dairy, Bread & Batter                143735.0
10       Health & Hygiene                142904.0
11    Fruits & Vegetables                 91794.0
12               Biscuits                 84431.0
13     Meats, Fish & Eggs                 48016.0